<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="EmailAddress" value="EmailFrom" />
    <add key="EmailPassword" value="EmailFromPassword" />
    <add key="EmailTo" value="EmailTo" />
    <add key="Host" value="HostToCheck" />
    <add key="EmailHost" value="EmailHost" />
    <add key="Subject" value="EmailSubject" />
    <add key="Message" value="EmailMessage" />
    <add key="Port" value="EmailPort" />
    <add key="checkApi" value="CheckApi?"/>
    <add key="apiCheckUrl" value="WhatsTheApiAddress?"/>
  </appSettings>
</configuration>