<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="EmailAddress" value="Email Address" />
    <add key="EmailPassword" value="Email Password" />
    <add key="EmailTo" value="Email To" />
    <add key="Host" value="Host" />
    <add key="EmailHost" value="emailHost" />
    <add key="Subject" value="Subject" />
    <add key="Message" value="Message" />
  </appSettings>
</configuration>